body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #4a5568;
}

h1, h2, h3 {
    color: #17365d;
    font-family: 'Verdana', sans-serif;
}

a {
    color: #17365d;
    text-decoration: none;
    font-weight: bold;
}

p {
    line-height: 1.6;
    text-align: justify;
}

ul {
    line-height: 1.8;
}

img {
    border: 3px solid #17365d;
}
